DB_HOST=35.226.64.52
DB_USER=IAC_2026_02_amabili_flor
DB_PASSWORD=OLv1YqcvRAjZws
DB_NAME=IAC_2026_02_amabili_flor
TMDB_API_KEY=
SMTP_HOST=sandbox.smtp.mailtrap.io
SMTP_PORT=2525
SMTP_USER=
SMTP_PASS=
APP_URL=